<!DOCTYPE html>
<html>
    <head>
        <title>weather app -- 404 Page not found</title>
      <link rel="stylesheet" href = "./css/styles.css">
      <link rel="icon" href="/img/weather.png">
       </head>
    <body>
        <div class = "main-content">
      <h1>{{>header}}
       </h1>
        {{error}}
       </div>
       {{>footer}}
      
    </body>
</html>