<!DOCTYPE html>
<html>
    <head>
        <title>weather app -- about</title>
        <link rel="stylesheet" href = "./css/styles.css">
        <link rel="icon" href="/img/weather.png">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body><div class = "main-content">
       <h1>{{>header}}
       </h1>
       <p>This site was created by Harshraj Dhote. It uses the data from darksky.net and <mapbox class="com"></mapbox></p>
        <img src="./img/profile.jfif" class = 'portrait'>
        <h2>{{name}}</h2> 
        </div>
       {{>footer}}
        
    </body>
</html>
<div style="text-align:center;"><script type="text/javascript" src="http://services.webestools.com/cpt_visitors/62576-10-5.js">
</script></div>
