<!DOCTYPE html>
<html>
    <head>
        <title>weather app -- about</title>
        <link rel="stylesheet" href = "./css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body><div class = "main-content">
       <h1>{{>header}}
       </h1>
        <img src="./img/profile.jfif" class = 'portrait'>
        <h2>{{name}}</h2> 
        </div>
       {{>footer}}
        
    </body>
</html>