<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href = "./css/styles.css">
        <title>weather app -- help</title>
        <link rel="icon" href="/img/weather.png">
        
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <div class = "main-content">
        <h1>{{>header}}</h1>
        <h2>{{helptxt}}</h2>
        </div>
        {{>footer}}
    </body>
</html>